<h1>Правила использования Сертификатов</h1>
<p>В случае несогласия с какими-либо условиями настоящих Правил и/или Пользовательского соглашения просим Вас воздержаться от использования Сервиса в какой-либо форме.</p>
<ol>
    <li>
        <strong>Основные понятия</strong>
        <ol>
            <li><strong>«Видеосервис START (СТАРТ)»</strong>, или <strong>«Сервис»</strong> – стриминговый видеосервис, принадлежащий Администратору, размещенный в глобальной сети Интернет в том числе, но не ограничиваясь, по адресу: https://start.ru, а также доступный посредством установки и использования специального программного обеспечения на различных пользовательских устройствах (мобильных смартфонах, планшетах, телевизорах с функцией SMART TV и т.п.), посредством которого Держатель получает возможность доступа к Контенту.
                </br>Сервис позволяет лицам посредством глобальной сети интернет осуществлять доступ к Контенту в режиме реального времени на основании Подписки.</li>
            <li><strong>«Администратор»</strong> – владелец Сервиса, юридическое лицо, зарегистрированное в соответствии с законодательством Российской Федерации, ООО «Старт.Ру» (ИНН 7728374780, ОГРН 1177746679175).</li>
            <li><strong>«Держатель»</strong> – физическое лицо, фактически владеющее Сертификатом.</li>
            <li><strong>«Контент»</strong> – аудиовизуальные произведения, исключительными правами на которые, в соответствии с условиями договоров с правообладателями, обладает Администратор, доступ к которым предоставляется Держателям после Активации Сертификатов. Во избежание сомнений трейлеры не входят в понятие Контента.</li>
            <li><strong>«Подписка»</strong> – содержание услуги определяется Пользовательским соглашением.</li>
            <li><strong>«Сертификат»</strong> – уникальная комбинация из букв и/или чисел, удостоверяющая право Держателя Сертификата на получение Подписки в Срок действия Сертификата.</li>
            <li><strong>«Сертификат на скидку»</strong> – уникальная комбинация из букв и/или чисел, предоставляющий право приобретения Подписки по сниженной цене.</li>
            <li><strong>«Активация Сертификата»</strong> – введение Сертификата в специальном разделе «Активировать Сертификат» Сервиса.</li>
            <li><strong>«Срок действия Сертификата»</strong> – срок, в течение которого Сертификат может быть Активирован, и Держатель вправе получить доступ к Контенту.</li>
            <li><strong>«Пользовательское соглашение»</strong> – правила пользования Сервисом, расположенные по адресу https://start.ru/termsofuse, обязательные к исполнению Администратором и/или Держателем.</br>Понятия, не определенные в настоящих Правилах, трактуются в соответствии с Пользовательским соглашением, либо в случае их отсутствия в данном документе, исходя из сложившейся практики и применимого законодательства.</li>
        </ol>
    </li>
    <li>
        <strong>Общие положения</strong>
        <ol>
            <li>Активация Сертификата является безусловным согласием Держателя с настоящими Правилами и Пользовательским соглашением.</li>
            <li>Для Активации Сертификата Держатель должен зарегистрироваться и пройти авторизацию в Сервисе.</li>
            <li>Сертификат может быть использован только в соответствии со своим назначением, а именно - для получения доступа к Контенту на Сервисе. Сертификат обмену на денежные средства и возврату не подлежит.</li>
            <li>Активация каждого Сертификата может быть произведена только на определенной территории и на определенных платформах Сервиса (веб/приложение для Smart TV (Смарт ТВ) и т.д.).</li>
            <li>Держатель признает, что Администратор вправе самостоятельно определять Контент, размещаемый на Сервисе, удалять из Сервиса и/или изменять (в том числе в течение Срока действия Сертификата) любой Контент без уведомления Держателя. Держатель соглашается, что в случае такого удаления или изменения Контента у него не будет никаких претензий к Администратору.</li>
            <li>Конкретным Сертификатом может быть предусмотрено обязательное указание Держателем при Активации Сертификата на Сервисе данных своей действующей банковской карты или иного средства платежа. При отсутствии таких данных Активация Сертификата не осуществляется.</br>После истечения срока Подписки на Сервис, предоставленной по Сертификату, возможно автоматическое продление Подписки на условиях Пользовательского соглашения по ценам, установленным на Сервисе на момент такого продления.</li>
            <li>Устройства, которые использует Держатель в рамках получения доступа к Контенту, размещенному на Сервисе по Сертификату, должны соответствовать техническим требованиям, изложенным в Пользовательском соглашении (раздел 10 Пользовательского соглашения). Администратор не несет никакой ответственности за невозможность предоставления доступа к Контенту в силу отсутствия у Держателя необходимых технических средств и устройств.</li>
            <li>«Держатель должен принимать все усилия к сохранности Сертификата и не разглашать его третьим лицам. Администратор не несет ответственности за несанкционированное использование Сертификата, так как Сертификат является предъявительским и не требует подтверждения его получения именно Держателем.</li>
            <li>Все используемые и размещенные в Сервисе результаты интеллектуальной деятельности, а также сам Сервис являются интеллектуальной собственностью их законных правообладателей и охраняются в соответствии с законодательством Российской Федерации об интеллектуальной собственности, а также соответствующими международными договорами. Любое использование размещенных на Сервисе результатов интеллектуальной деятельности (в том числе элементов визуального оформления Сервиса, символики, текстов, графических изображений, иллюстраций, фото, видео, программ, музыки, и других объектов) без предварительного разрешения Администратора или законного правообладателя является незаконным и может послужить причиной для судебного разбирательства и привлечения нарушителей к гражданско-правовой, административной и уголовной ответственности в соответствии с законодательством Российской Федерации или иным применимым законодательством.</li>
            <li>Действия, направленные на Активацию Сертификата, должны быть совершены Держателем исключительно в Срок действия Сертификата. Отсутствие Активации Сертификата в Срок его действия, признается отказом Держателя от пользования Сертификатом и не влечет обязанность Администратора возвратить Держателю какие-либо денежные средства.</li>
            <li>Если Сертификат выпускается на материальном носителе, Срок действия этого Сертификата может быть указан на данном материальном носителе. Срок действия Сертификатов, выпущенных в иной форме, Держатель должен уточнять у распространителя Сертификатов.</li>
            <li>Администратор уведомляет, а Держатель соглашается, что виды Сертификатов, формы их выпуска и использования, а также доступность Сертификатов для приобретения и/или использования в тот или иной период времени определяются Администратором по собственному усмотрению.</li>
            <li>В случае наличия проблем с Активацией Сертификатов, вопросов по работоспособности Сервиса Держатель должен обратиться в техническую поддержку по телефону: 8-804-555-10-33 и/или по адресу электронной почты: support@start.ru.</li>
        </ol>
    </li>
    <li>
        <strong>Особенности использования Сертификата на скидку</strong>
        <ol>
            <li>По Сертификату на скидку Держателю предоставляется право приобрести Подписку по стоимости, отличной от действующей в Сервисе на момент ее приобретения, на размер скидки. Под скидкой в настоящих Правилах понимается количество денежных средств, на которые уменьшается первоначальная цена Подписки при применении Сертификата на скидку.</li>
            <li>Сертификаты на скидки не суммируются.</li>
            <li>Для того чтобы воспользоваться Подпиской, Держатель обязан оплатить разницу между стоимостью приобретаемой Подписки, действующей на момент ее приобретения, и скидкой по применяемому Сертификату.</li>
        </ol>
    </li>
    <li>
        <strong>Особенности использования Сертификата на скидку, распространяемых в рамках акций партнеров Администратора</strong>
        <ol>
            <li>Сертификаты Администратора могут распространяться в рамках акций партнеров Администратора, в том числе в рамках совместных акций партнеров и Администратора и предоставляться без взимания дополнительной платы, либо по специальным условиям (далее - «Сертификаты по Акциям», «Акции»).</br>Для получения Сертификатов по Акциям физическое лицо, как правило, должно выполнить определенные действия (например, купить товар, приобрести услугу партнера и т.п.) и строго соблюдать условия Акций партнеров, указанных в соответствующих правилах.</li>
            <li>Сертификаты по Акциям не предназначены для перепродажи и передачи третьим лицам. Сертификаты, полученные в рамках Акций, не подлежат разглашению и/ или публикации в сети интернет.</li>
            <li>При наличии у Администратора основания полагать, что Активация Сертификатов по Акциям не была произведена Держателем в соответствии с их условиями и/или Активация Сертификатов произошла в результате их несанкционированного разглашения, либо публикации в сети интернет, Администратор вправе прекратить оказание услуг и/или заблокировать Сертификат без возмещения Держателю каких- либо убытков и без возврата каких-либо денежных средств.</li>
            <li>Держатель вправе уточнять условия Активации конкретного Сертификата по Акциям у Администратора.</li>
        </ol>
    </li>
    <li>
        <strong>Ограничения по активации Сертификатов</strong>
        <p>При наличии у Держателя активной Подписки, оформленной через AppleStore и GooglePlay, активация Сертификата не осуществляется. Для активации Сертификата необходимо обратиться в техническую поддержку Сервиса, указанную в п. 2.13. настоящих Правил.</p>
    </li>
    <li>
        <strong>Права и обязанности Держателя</strong>
        <ol>
            <li>Держатель обязуется использовать Сертификат только в законных целях и только способами, прямо предусмотренными настоящими Правилами и соответствующим Сертификатом, соблюдать действующее законодательство Российской Федерации, а также права и законные интересы Администратора и правообладателей, чей Контент и иные результаты интеллектуальной деятельности доступны в Сервисе.</li>
            <li>Держатель обязан воздерживаться от осуществления действий, направленных на дестабилизацию работы Сервиса, осуществления попыток несанкционированного доступа к Контенту, результатам интеллектуальной деятельности, размещенным в нем, а также от осуществления любых иных действий, нарушающих права Администратора и/или третьих лиц.</li>
            <li>Держатель обязан соблюдать все условия Пользовательского соглашения, в том числе связанные с политикой доступа к определённым категориям Контента, возрастными ограничениями, территориальными ограничениями, а также ограничениями, наложенными действующим законодательством Российской Федерации.</li>
            <li>Держатель обязан принимать надлежащие меры для обеспечения сохранности Сертификата. Администратор не несёт ответственности за утерю возможности Активации Сертификата в Сервисе в связи с его предшествующей Активацией Держателем, другим лицом, представителем Держателя с его согласия или при его отсутствии.</li>
            <li>Держатель обязуется не пытаться отключать или иным образом вмешиваться в любые технические средства защиты Сервиса и не будет пытаться применить Сертификат повторно, используя технические средства обхода защиты и/или функционирования Сервиса.</li>
            <li>Держатель обязан выполнять иные обязательства, установленные настоящими Правилами и Пользовательским соглашением.</li>
        </ol>
    </li>
    <li>
        <strong>Права и обязанности Администратора</strong>
        <ol>
            <li>Администратор вправе устанавливать возрастные ограничения для доступа Держателя к Контенту, что означает, запрет Держателю, не достигшему указанного Администратором возраста, получить доступ к соответствующему Контенту.</li>
            <li>Администратор вправе прекратить оказание услуг и заблокировать Сертификат в случае нарушения Держателем / третьими лицами условий Пользовательского соглашения, либо настоящих Правил, а также если сочтет действия по Активации Сертификата, либо получению услуг по нему мошенническими. Держатель соглашается, что в данном случае уплаченные денежные средства ему не возвращаются.</li>            <li>Услуги по Сертификату оказываются и все споры разрешаются в соответствии с законодательством Российской Федерации.</li>
        </ol>
    </li>
</ol>
