<div class="privacy_wrapper term_of_use_wrapper">
    <p>Настоящая Политика конфиденциальности персональной информации («Политика») действует в отношении всей информации, которую Общество с ограниченной ответственностью «Старт.Ру» (ОГРН 1177746679175, ИНН 7728374780) и/или его аффилированные лица, осуществляющие техническую реализацию и поддержку cервиса «Старт», могут получить о Пользователе во время использования ими сайта <a href="https://start.ru">www.start.ru</a> («Сайт») и/или cервиса «Старт» в целом («Сервис»), а также при обращении к службе поддержки Сервиса.</p>
    <p>В настоящей Политике конфиденциальности термины «Старт»/«Мы»/«наш»/«нас» означают Общество с ограниченной ответственностью «Старт.Ру» и его аффилированных лиц, а «Пользователь»/«Вы»/«Ваш» означают Вас как пользователя нашего Сайта и Сервиса.</p>
    <p>Термины, используемые в настоящей Политике, определены в Пользовательском соглашении: <a href="https://start.ru/termsofuse">http://www.start.ru/termsofuse</a>.</p>
    <ol>
        <li>
            Использование Cайта и Сервиса в целом, означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации.
            <p>В случае несогласия с этими условиями просим Вас воздержаться от использования Сервиса.</p>
        </li>
        <li>
            <strong>Возрастные ограничения</strong>
            <p>Мы не собираем намеренно персональные данные детей до 18 лет. Если Вам меньше 18 лет, пожалуйста, не предоставляйте нам никакие персональные данные.</p>
        </li>
        <li>
            <strong>Меры, применяемые для защиты персональной информации Пользователей</strong>
            <p>Мы принимаем необходимые и достаточные организационные и технические меры для защиты персональной Вашей информации от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
        </li>
        <li>
            <strong>Cookie-файлы</strong>
            <ol>
                <li>Cookie – это небольшой текстовый файл, который содержит строку символов и служит уникальным идентификатором Вашего браузера. Cookie-файлы используются для того, чтобы повышать качество Сервиса, предоставляемого Пользователям Cтарта: например, сохранять настройки Пользователей или отслеживать характерные для Вас тенденции.</li>
                <li>В настройках браузера Вы можете отметить, какие cookie-файлы Вы получаете и какие Вы храните на Вашем устройстве. При посещении нашего Cайта и/или Сервиса система будет отправлять cookie-файлы, если только Вы не отключили такую возможность в настройках Вашего браузера. Тем не менее, если Вы не принимаете cookie-файлы, многие особые возможности Сайта и/или Сервиса могут быть для вас недоступны.</li>
                <li>Все основные браузеры предлагают советы и руководство по управлению cookie-файлами, доступными в Вашем браузере. Также существует огромное количество различных сторонних плагинов и расширений для браузера, которые Вы можете скачать для упрощения просмотра и управления Вашими cookie-файлами.</li>
                <li>Более подробную информацию об интернет-маркетинге Вы найдете на следующих сайтах: www.allaboutcookies.org, www.yourchoicesonline.eu, и www.networkadvertising.org. Некоторые из этих сайтов в дополнение к настройкам Вашего браузера позволят Вам отказаться от использования поведенческого онлайн-маркетинга и отслеживающих cookie-файлов.</li>
            </ol>
        </li>
        <li>
            <strong>Персональная информация Пользователей, которую собирает и обрабатывает Старт</strong>
            <ol>
                <li>
                    Мы можем собирать и обрабатывать следующие персональные данные о Вас:
                    <ul>
                        <li>данные, которые Вы предоставляете при регистрации в нашем Сервисе, а именно - имя Пользователя (никнейм), пароль, адрес электронной почты, номер телефона, страна проживания;</li>
                        <li>данные, которые по Вашему согласию нам передает третья сторона (например, социальная сеть Facebook);</li>
                        <li>корреспонденцию или ее копии, в случае Вашего обращения к нам (например, в нашу службу поддержки);</li>
                        <li>Cтатистические данные о действиях и тенденциях просмотра веб-страниц, которые не идентифицируют Вас лично. К таким данным относятся данные о Вашем компьютере и использовании вами наших Услуг, в том числе (если применимо) Ваш IP-адрес, уникальный идентификатор устройства (UDID), международный идентификатор мобильного оборудования (IMEI), Android ID, MAC-адрес устройства, ID социальной сети, рекламный ID для платформы Android, рекламный идентификатор IDFA и ID для продавцов (IDFV) для платформы iOS, OPEN UDID, ODIN, информацию браузера, тип операционной системы, временные метки, страницы, к которым Вы обращались, данные о скачанных приложениях, трафике, местоположении, веблогах и других коммуникационных данных, а также о посещаемых Вами ресурсах. Указанные данные могут быть получены с помощью сервисов аналитики (например, Яндекс.Метрика, Google Analytics и других)</li>
                    </ul>
                </li>
                <li>Мы не собираем и не храним данные о кредитных картах и другие детали оплаты.</li>
                <li>Мы собираем и храним только те персональные данные, которые необходимы для предоставления Сервиса (исполнения Пользовательского соглашения). </li>
                <li>Мы отслеживаем статистику посещений и использования Сайта и Сервиса в целом, которую используем в дальнейшем для оптимизации работы Cайта и Сервиса.
                </li>
                <li>В отдельных случаях контактная информация, оставленная Пользователями, может быть использована для осуществления информационных рассылок, приглашения к участию в конкурсах и опросах. В этом случае мы обязательно запрашиваем Ваше согласие на использование Ваших контактных данных, а также предлагаем возможность отписаться.</li>
            </ol>
        </li>
        <li>
            <strong>Условия обработки персональной информации Пользователя и её передачи третьим лицам</strong>
            <ol>
                <li>Мы не передаем информацию третьим лицам ни для каких целей без Вашего согласия. Исключение составляют ситуации, когда мы считаем, что это необходимо в целях выполнения требований закона или решений суда, для защиты прав или собственности Старта, обеспечения безопасности других Пользователей, в целях расследования или принятия мер в отношении незаконной или предполагаемой незаконной деятельности, или в иных целях в соответствии с Вашим согласием.</li>
                <li>Обмен данными между Сайтом и Пользователями происходит по каналу защищенной связи SSL и в зашифрованном виде данные защищены цифровыми подписями.</li>
                <li>Высокая безопасность платежей гарантирована и подтверждена сертификатом PCI DSS Level 4 и платежными технологиями международного уровня.</li>
                <li>Указанная в ходе оплаты информация сохраняется только в системе PayOnline и используется в момент совершения платежа (передается в банк-эквайер по защищенному каналу в зашифрованном виде). </li>
            </ol>
        </li>
        <li>
            <strong>Кому могут быть переданы персональные данные Пользователей</strong>
            <ol>
                <li>
                    Мы можем передавать Ваши персональные данные третьим сторонам в следующих случаях:
                    <ul>
                        <li>в рекламных целях;</li>
                        <li>нашим партнерам и поставщикам услуг для управления или администрирования определенных аспектов нашего Сайта и/или Сервиса, в целях анализа и дальнейшего совершенствования нашего Сайта и/или Сервиса;</li>
                        <li>в случаях, когда мы обязаны или нам разрешено это законом.</li>
                    </ul>
                </li>
                <li>Мы можем передавать третьим лицам обобщенную информацию касательно того, как наши Пользователи используют Сайт и/или Сервис в целом, но в такую информацию не входят данные, позволяющие идентифицировать Вас лично.</li>
            </ol>
        </li>
        <li>
            <strong>Где Старт хранит персональные данные Пользователей</strong>
            <ol>
                <li>Ваша информация хранится на управляемых нами серверах, расположенных на территории Российской Федерации.</li>
                <li>Передавая нам свои персональные данные, Вы соглашаетесь с тем, что мы храним Вашу информацию до тех пор, пока считаем ее необходимой для обеспечения работы нашего Сайта и Сервиса, или в течение установленного законом срока, или для выполнения применимого законодательства, запросов и соответствующих распоряжений судов компетентной юрисдикции.</li>
            </ol>
        </li>
        <li>
            <strong>Права Пользователей</strong>
            <ol>
                <li>
                    У Вас есть определенные права в отношении личной информации, которую мы о Вас собираем. Эти права включают в себя:
                    <ol>
                        <li>
                            Право доступа
                            <p>Вы имеете право знать, какой информацией о Вас мы располагаем, а в некоторых случаях - имеете право на получение этой информации. Если Вы хотите воспользоваться этим правом, просим связаться с нами и уведомить о том, что Вы хотите воспользоваться своим правом доступа и какую конкретно информацию Вы хотели бы получить. Мы оставляем за собой право попросить разумные доказательства для подтверждения Вашей личности, прежде чем мы предоставим Вам какую-либо информацию. Просим обратить внимание, что иногда мы не можем предоставить Вам всю запрашиваемую информацию, например, если такая информация включает в себя персональную информацию о другом человеке. В случае, если мы не сможем предоставить Вам запрашиваемую информацию, мы постараемся объяснить причины этого. Мы постараемся ответить на любой запрос, связанный с правом доступа, при первой же возможности, но, в любом случае, в течение 40 дней с момента получения Вашего запроса и подтверждения личности.</p>
                        </li>
                        <li>
                            Право на правильную персональную информацию
                            <p>Мы стараемся, чтобы имеющаяся у нас информация о Вас была точной и актуальной. Если вы поймете, что имеющаяся у нас информация о Вас неправильная, просим сообщить нам об этом и мы исправим ее при первой же возможности.</p>
                        </li>
                        <li>
                            Отказ от прямого маркетинга
                            <p>Вы имеете право отправить нам запрос на прекращение использования Ваших персональных данных для маркетинговых, аналитических или иных целей.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <strong>Внесение изменений в Политику</strong>
            <p>Со временем Политика конфиденциальности может подлежать изменениям. Обновленная политика конфиденциальности будет размещена на этой странице. Заходите на эту страницу время от времени, чтобы убедиться, что Вы ознакомлены с последней версией. Любая новая политика вступает в силу со дня ее опубликования.</p>
        </li>
        <li>
            <strong>Свяжитесь со Cтартом</strong>
            <p>Если Вы хотите связаться с нами по какому-либо вопросу в связи с данной Политикой конфиденциальности, в том числе, с целью осуществления своих прав, просим обращаться по электронному адресу <a href="mailto:support@start.ru">support@start.ru</a>.</p>
        </li>
    </ol>
    <p><strong>Редакция от 09 апреля 2018 года.</strong></p>
</div>

